*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*texto*/
    --ff-heading: 'Staatliches', cursive;
    --ff-texting: 'Palanquin', sans-serif;

    /*cor*/
    --bg-header: #8E9AAF;
    --bg-background-paleta: #FEEAFA;
    --bg-text-paleta: #4A4E69;
    --bg-background-mobile: #EFF1FF;
    --bg-text-p: #23053A;

    /*tamanho da fonte*/
    font-size: 62.5%;
}

body{
    font-family: var(--ff-heading);
}

.mobile{
    max-width: 38.4rem;
    margin: 0 auto;
    background: var(--bg-background-mobile);
}

header{
    text-align: center;
    background: var(--bg-header);
    height: 27.7rem;
}

header img{
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
    width: 170px;
    height: 170px;
    padding-top: 3.2rem;
}

h1{
    font-weight: 400;
    margin-top: 4.0rem;
    font-size: 4rem;
    line-height: 3.4rem;

    height: 2.9rem;
    
    color: #FFFFFF;

    letter-spacing: 0.05em;

    padding-top: .4rem;
    padding-bottom: 3.9rem;
    background-image: url("./assets/logo-background.png");
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
} 



main{
    padding: 3.2rem;
    display: grid;
    gap: 3.2rem;
}

main p{
    font-family: var(--ff-texting);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5rem;

    margin-top: 1.4rem;
    margin-bottom: 6.3rem;
    color: var(--bg-text-p);

    display: flex;
    align-items: center;
    text-align: center;

    animation: textP 700ms;
}

.card{
    position: relative;
}

.card img{
    border-radius: 20px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    animation: image 700ms;
}

.card h2{
    position: absolute;
   
    right: 25px;
    top: 10px;

    font-weight: 400;
    font-size: 2rem;
    line-height: 3.4rem;

    letter-spacing: 0.05rem;

    color: var(--bg-text-paleta);

    animation: paletas 700ms;
    
}

.card h2 span{
    background: var(--bg-background-paleta);
    border-radius: 20px;
    padding-left: 2.4rem;
    padding-right: 2.3rem;
}



/* Animação */

@keyframes paletas{ 
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes image{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textP{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}